@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes slideInLeft {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(720deg);}
}
@keyframes rotateOut {
    from{transform: rotate(0deg);}
    to{transform: rotate(-720deg);}
}
@keyframes slideInRight {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}
.offcanvas{
    position: fixed;
    top: 3.2rem;
    right: 0;
    display: flex;
    background-color: #fff;
    bottom: 0;
    z-index: 2;
    display: none;
}
.offcanvas-anim{
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.offcanvas-anim-off{
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.offcanvas-shade{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000079;
    display: none;
    transition: all 5s;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
ul li{
    border-bottom: 1px solid #3333333a;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}
ul li:hover{
    background-color: #3636361f;
}
ul a{
    color: #333;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.fa-bars, .fa-x{
    color: whitesmoke;
    font-size: 1.5em;
    cursor: pointer;
}
.fa-bars{
    animation-name: rotateOut;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.offcanvas-icon-anim{
    animation-name: rotate;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.fa-bars:hover{
    opacity: 0.9;
}
.fa-bars:active{
    opacity: 0.8;
}
header{
    background-color: #333;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}
main{
    padding: 3.5rem 0.5rem;
    font-family: "Poppins", sans-serif;
}
.note-about-us h2{
    font-size: 1.3em;
}
.note-about-us{
    margin-bottom: 0.5rem;
    font-size: 1em;
}
.the-team{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem 0;
    gap: 0.8rem;
    border-radius: 8px;
}
.the-team h2{
    color: #fff;
}
.team-members-ctn{
    padding: 0 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.team-member{
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 0.2rem;
}
.team-member p{
    text-align: center;
    font-size: 0.8em;
    color: #fff;
}
.team-member img{
    border-radius: 50%;
    border: 5px solid #e84421;
}
.links{
    display: flex;
    column-gap: 0.5rem;
}
.links a{
    color: #fff;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #333;
    padding: 0.3rem;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    z-index: 4;
}
footer p{
    text-align: center;
}
footer a{
    color: #fff;
}
footer a:hover{
    opacity: 0.9;
}
footer a:active{
    opacity: 0.8;
}